.main-slide {
  background: url(../img/shaf_kupe.png) center/cover no-repeat;
}

.k1 {
  background: url(../img/skaf1.png) center/cover no-repeat;
}
.k2 {
  background: url(../img/skaf2.png) center/cover no-repeat;
}
.k3 {
  background: url(../img/skaf3.png) center/cover no-repeat;
}
.k4 {
  background: url(../img/skaf4.png) center/cover no-repeat;
}
.k5 {
  background: url(../img/skaf5.png) center/cover no-repeat;
}
.k6 {
  background: url(../img/skaf6.png) center/cover no-repeat;
}

.otlichiy5,
.otlichiy5_main,
.bggrey {
  min-height: 400px;
}
.otlichiy5 {
  margin-bottom: 5em;
}
.otlichiy5_main {
  width: 100%;
  display: flex;
}
.bggrey {
  width: 50%;
  background-color: #f3f3f3;
  position: absolute;
}
.approach,
competitors {
  font-family: "Roboto Slab", serif;
  font-size: 36px;
  color: #249266;
}
.competitors {
  font-size: 36px;
  color: #ce3131;
}
.competitors_approach_list > ul > li {
  font-family: "Open Sans", sans-serif;
  color: #000;
  font-size: 16px;
  margin: 1em 0;
}
.competitors_approach_list > ul > li > img {
  padding-right: 1em;
}
